
	
	
	<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="ffffff" align="center" style="background: #ffffff; border-collapse: collapse; margin: 0 auto; table-layout: fixed;">
		<tbody>
			<tr>
				<td>
					<a href="http://girls-chat.tv/">
						<img class="fluid" border="0" alt="gifやで" src="%%12%%/User/ViComm/man/Image/A001/sp/600x370.gif" width="100%" height="auto" style="display: block; height: auto; margin: 10px auto; max-width: 95%; width: 95%;">
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="ffffff" align="center" style="background: #ffffff; border-collapse: collapse; margin: 0 auto; table-layout: fixed;">
		<tbody>
			<tr>
				<td valign="top" width="50%">
					2カラム
				</td>
				<td valign="top" width="50%">
					2カラム
				</td>
			</tr>
		</tbody>
	</table>
	<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="ffffff" align="center" style="background: #ffffff; border-collapse: collapse; margin: 0 auto; table-layout: fixed;">
		<tbody>
			<tr>
				<td valign="top" width="33.33%">
					3カラム
				</td>
				<td valign="top" width="33.33%">
					3カラム
				</td>
				<td valign="top" width="33.33%">
					3カラム
				</td>
			</tr>
		</tbody>
	</table>

	<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="ffffff" align="center" style="background: #ffffff; border-collapse: collapse; margin: 0 auto; table-layout: fixed;">
		<tbody>
			<tr>
				<td valign="top">
					<a class="btn_01" href="#" style="background-color: #ccc; border-radius: 5px; display: block; padding: 10px 0; text-align: center; text-decoration: none;">ここから登録</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	