@charset "UTF-8";
/* Color Palette
/********************************************/
/* General Style
/********************************************/
html,
body {
  margin: 0;
  padding: 0; }

/* table */
table {
  background: #ffffff;
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  table-layout: fixed; }

/* link */
a {
  color: #004eff; }

/* images */
img {
  border: none;
  outline: 0;
  padding: 0; }

.fluid {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: inherit;
  width: 100%; }

/* OOCSS
/********************************************/
.box {
  margin: 0 auto; }

/* margin */
.mg_t5 {
  margin-top: 0.3em !important; }

.mg_t10 {
  margin-top: 0.6em !important; }

.mg_t15 {
  margin-top: 0.9em !important; }

.mg_t20 {
  margin-top: 1.2em !important; }

.mg_t25 {
  margin-top: 1.5em !important; }

.mg_t30 {
  margin-top: 1.8em !important; }

.mg_r5 {
  margin-right: 0.3em !important; }

.mg_r10 {
  margin-right: 0.6em !important; }

.mg_r15 {
  margin-right: 0.9em !important; }

.mg_r20 {
  margin-right: 1.2em !important; }

.mg_r25 {
  margin-right: 1.5em !important; }

.mg_r30 {
  margin-right: 1.8em !important; }

.mg_b5 {
  margin-bottom: 0.3em !important; }

.mg_b10 {
  margin-bottom: 0.6em !important; }

.mg_b15 {
  margin-bottom: 0.9em !important; }

.mg_b20 {
  margin-bottom: 1.2em !important; }

.mg_b25 {
  margin-bottom: 1.5em !important; }

.mg_b30 {
  margin-bottom: 1.8em !important; }

.mg_l5 {
  margin-left: 0.3em !important; }

.mg_l10 {
  margin-left: 0.6em !important; }

.mg_l15 {
  margin-left: 0.9em !important; }

.mg_l20 {
  margin-left: 1.2em !important; }

.mg_l25 {
  margin-left: 1.5em !important; }

.mg_l30 {
  margin-left: 1.8em !important; }

/* padding */
.pd_5 {
  padding: 0.3em !important; }

.pd_10 {
  padding: 0.6em !important; }

.pd_15 {
  padding: 0.9em !important; }

.pd_20 {
  padding: 1.2em !important; }

.pd_25 {
  padding: 1.5em !important; }

.pd_30 {
  padding: 1.8em !important; }

.pd_t5 {
  padding-top: 0.3em !important; }

.pd_t10 {
  padding-top: 0.6em !important; }

.pd_t15 {
  padding-top: 0.9em !important; }

.pd_t20 {
  padding-top: 1.2em !important; }

.pd_t25 {
  padding-top: 1.5em !important; }

.pd_t30 {
  padding-top: 1.8em !important; }

.pd_r5 {
  padding-right: 0.3em !important; }

.pd_r10 {
  padding-right: 0.6em !important; }

.pd_r15 {
  padding-right: 0.9em !important; }

.pd_r20 {
  padding-right: 1.2em !important; }

.pd_r25 {
  padding-right: 1.5em !important; }

.pd_r30 {
  padding-right: 1.8em !important; }

.pd_b5 {
  padding-bottom: 0.3em !important; }

.pd_b10 {
  padding-bottom: 0.6em !important; }

.pd_b15 {
  padding-bottom: 0.9em !important; }

.pd_b20 {
  padding-bottom: 1.2em !important; }

.pd_b25 {
  padding-bottom: 1.5em !important; }

.pd_b30 {
  padding-bottom: 1.8em !important; }

.pd_l5 {
  padding-left: 0.3em !important; }

.pd_l10 {
  padding-left: 0.6em !important; }

.pd_l15 {
  padding-left: 0.9em !important; }

.pd_l20 {
  padding-left: 1.2em !important; }

.pd_l25 {
  padding-left: 1.5em !important; }

.pd_l30 {
  padding-left: 1.8em !important; }

/* width */
.w20per {
  width: 20%; }

.w25per {
  width: 25%; }

.w30per {
  width: 30%; }

.w35per {
  width: 35%; }

.w40per {
  width: 40%; }

.w45per {
  width: 45%; }

.w50per {
  width: 50%; }

.w55per {
  width: 55%; }

.w60per {
  width: 60%; }

.w65per {
  width: 65%; }

.w70per {
  width: 70%; }

.w75per {
  width: 75%; }

.w80per {
  width: 80%; }

.w85per {
  width: 85%; }

.w90per {
  width: 90%; }

.w95per {
  width: 95%; }

/* color */
.cl_red01 {
  color: #ff0000; }

.cl_pink01 {
  color: #f20a88; }

.cl_blue01 {
  color: #0000ff; }

.cl_green01 {
  color: #009944; }

.cl_orange01 {
  color: #f39700; }

/* font-size */
.fs_l {
  font-size: 1.13em; }

.fs_m {
  font-size: 0.88em; }

.fs_s {
  font-size: 0.75em; }

/* font-weight */
.fw_bold {
  font-weight: bold; }

/* text-align */
.ta_c {
  text-align: center; }

/* background-color */
.bg_yellow {
  background-color: #fffad5; }

/* border */
.bdt_01 {
  border-top: 1px dotted #999; }

.bdb_01 {
  border-bottom: 1px dotted #999; }

/* 追加クラス
/********************************************/
/* button */
.btn_01, .btn_02, .btn_03 {
  display: block;
  margin: 0 auto;
  padding: 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 0.88em;
  width: 90%;
  -webkit-box-shadow: 3px 3px 0 #888;
  box-shadow: 3px 3px 0 #888; }
  .btn_01 img, .btn_02 img, .btn_03 img {
    margin-right: 5px;
    vertical-align: -3px; }

.btn_01 {
  background-color: #f20a88; }

.btn_02 {
  background-color: #6187ff; }

.btn_03 {
  background-color: #ee1fff; }

/* headline */
.headline {
  background-color: #000;
  display: block;
  color: #fff;
  font-weight: bold;
  padding: 8px 8px 6px 8px;
  text-align: left;
  margin-bottom: 15px; }
