/* Color Palette
/********************************************/

$color-palette :( 
	red : (
		base : #ff0000
	),
	blue : (
		base : #0000ff,
		light: #6187ff
	),
	pink : (
		base : #f20a88
	),
	green : (
		base : #009944
	),
	orange : (
		base : #f39700
	),
	purple : (
		base : #ee1fff
	)
) !default;

@function color($color, $tone: 'base') {
	@return map-get(map-get($color-palette, $color), $tone)
}

/* General Style
/********************************************/

html,
body {
	margin: 0;
	padding: 0;
}

/* table */

table {
	background: #ffffff;
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
	table-layout: fixed;
}

/* link */

a {
	color: #004eff;
}

/* images */

img {
	border: none;
	outline: 0;
	padding: 0;
}

.fluid {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: inherit;
	width: 100%;
}

/* OOCSS
/********************************************/

.box {
	margin: 0 auto;
}

/* margin */

@for $i from 1 through 6 {
	.mg_t#{$i * 5} {  
		margin-top: #{0.3 * $i}em !important;
	}
}

@for $i from 1 through 6 {
	.mg_r#{$i * 5} {  
		margin-right: #{0.3 * $i}em !important;
	}
}

@for $i from 1 through 6 {
	.mg_b#{$i * 5} {  
		margin-bottom: #{0.3 * $i}em !important;
	}
}

@for $i from 1 through 6 {
	.mg_l#{$i * 5} {  
		margin-left: #{0.3 * $i}em !important;
	}
}

/* padding */

@for $i from 1 through 6 {
	.pd_#{$i * 5} {  
		padding: #{0.3 * $i}em !important;
	}
}

@for $i from 1 through 6 {
	.pd_t#{$i * 5} {  
		padding-top: #{0.3 * $i}em !important;
	}
}

@for $i from 1 through 6 {
	.pd_r#{$i * 5} {  
		padding-right: #{0.3 * $i}em !important;
	}
}

@for $i from 1 through 6 {
	.pd_b#{$i * 5} {  
		padding-bottom: #{0.3 * $i}em !important;
	}
}

@for $i from 1 through 6 {
	.pd_l#{$i * 5} {  
		padding-left: #{0.3 * $i}em !important;
	}
}

/* width */

@for $i from 1 through 16 {
	.w#{$i * 5 +15}per {  
		width: #{5 * $i +15}%;  
	}
}

/* color */

.cl_red01 {
	color: color(red);
}

.cl_pink01 {
	color: color(pink);
}

.cl_blue01 {
	color: color(blue);
}

.cl_green01 {
	color: color(green);
}

.cl_orange01 {
	color: color(orange);
}

/* font-size */

.fs_l {
	font-size: 1.13em;
}

.fs_m {
	font-size: 0.88em;
}

.fs_s {
	font-size: 0.75em;
}

/* font-weight */

.fw_bold {
	font-weight: bold;
}

/* text-align */

.ta_c {
	text-align: center;
}

/* background-color */

.bg_yellow {
	background-color: #fffad5;
}

/* border */

.bdt_01 {
	border-top: 1px dotted #999;
}

.bdb_01 {
	border-bottom: 1px dotted #999;
}


/* 追加クラス
/********************************************/

/* button */

%btn {
	display: block;
	margin: 0 auto;
	padding: 0.5em 0;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 0.88em;
	width: 90%;
	-webkit-box-shadow: 3px 3px 0 #888;
	box-shadow: 3px 3px 0 #888;
	img {
		margin-right: 5px;
		vertical-align: -3px;
	}
}

.btn_01 {
	@extend %btn;
	background-color: color(pink);
}

.btn_02 {
	@extend %btn;
	background-color: color(blue, light);
}

.btn_03 {
	@extend %btn;
	background-color: color(purple);
}

/* headline */

.headline {
	background-color: #000;
	display: block;
	color: #fff;
	font-weight: bold;
	padding: 8px 8px 6px 8px;
	text-align: left;
	margin-bottom: 15px;
}